@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    flex-basis: auto;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    font-weight: 900;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 425px;
    flex-shrink: 0;
}

.header a:link {
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    color: #e5e7eb;
}

.header a:visited {
    color: #e5e7eb;
}

.header ul {
    margin: 0;
    padding: 0;
}

.header li {
    display: inline-block;
    list-style-type: none;
    padding: 8px;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}

.section1 .box1 .text {
    padding-right: 20px;
}

.section1 .box1 {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    color: #e5e7eb;
}

.section1 .box2 {
    display: flex;
    background-color: #6d747d;
    width: 500px;
    height: 250px;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.section1 .title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.section1 .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background-color: #3882f6;
    border-radius: 8px;
    margin-top: 15px;
    font-weight: 600;
}

.section2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 575px;
    background-color: #fff;
    align-items: center;
} 

.section2 .title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-top: 50px;
}

.image-container {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.placeholder-image {
    height: 175px;
    width: 175px;
    border: 4px solid;
    border-color: #3882f6;
    border-radius: 12px;
}

.placeholder-text {
    display: flex;
    width: 175px;
    height: 100px;
    text-align: center;
    color: #1f2937;
    padding-top: 16px;
}

.section3 {
    display: flex;
    height: 500px;
    background-color: #e5e7eb;
    color: #1f2937;
    justify-content: center;
    align-items: center;
} 

.textbox {
    width: 850px;
}

.text1 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.text2 {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    font-size: 24px;
}

.section4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background-color: #fff;
} 

.border-box {
    display: flex;
    height: 175px;
    width: 950px;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: space-between;
    align-items: center;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.border-box .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    border-radius: 8px;
    border-color: #f9faf8;
    border: 2px solid;
    margin-top: 15px;
    font-weight: 600;
}

.border-box .title {
    font-weight: 900;
    font-size: 24px;
}

.footer {
    display: flex;
    margin-top: auto;
    height: 100px;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
} 